<h1>Quo</h1>

<h3>Examining altmetrics over time</h3>

<form action="search" method="get">
	<label for="id">Enter a DOI</label>
	<input id="id" name="id" type="text">

	<button type="submit">Submit</button>
</form>