<header>
	<a href="/" class="title">
		<h1>Quo</h1>
		<h3>Examining altmetrics over time</h3>
	</a>

	<div class="col-md-12">
		<p>Enter a search for articles of interest, then select articles to view a visualisation comparing two altmetric data sources and their change over time.</p>
	</div>

	<div class="article-counter-wrapper panel panel-default text-center hidden">
		<div class="panel-heading">
			<a href="/search?storage"><h5 class="panel-title">Articles</h5></a>
		</div>
		<div class="panel-body">
			<span id="article-counter" class="badge">0</span>
		</div>
	</div>
</header>

<form action="search" method="get" role="form">
	<fieldset class="form-group col-md-12">
		<label for="everything" class="control-label">Keyword</label>
		<input id="everything" name="everything" type="search" class="form-control" placeholder="Keyword">
	</fieldset>

	<fieldset class="form-group col-md-12">
		<label for="author" class="control-label">Author</label>
		<input id="author" name="author" type="search" class="form-control" placeholder="Author">
	</fieldset>

	<fieldset class="form-group col-md-12">
		<label for="journal" class="control-label">Journal</label>
		<select id="journal" name="journal" class="form-control">
			<option value="">All Journals</option>
			<option value="plos one">PLOS One</option>
			<option value="plos genetics">PLOS Genetics</option>
			<option value="plos pathogens">PLOS Pathogens</option>
			<option value="plos one">PLOS One</option>
			<option value="plos biology">PLOS Biology</option>
			<option value="plos computational biology">PLOS Computational Biology</option>
			<option value="plos medicine">PLOS Medicine</option>
			<option value="plos neglected tropical diseases">PLOS Neglected Tropical Diseases</option>
			<option value="plos collections">PLOS Collections</option>
		</select>
	</fieldset>

	<fieldset class="form-group col-md-12">
		<label for="subject" class="control-label">Subject Area</label>
		<input id="subject" name="subject" type="search" class="form-control" placeholder="Subject Area">
		<small class="help-block">Taxonomy available <a href="http://www.plosone.org/taxonomy">here</a></small>
	</fieldset>

	<fieldset class="form-group col-md-12">
		<label for="id" class="control-label">DOI</label>
		<input id="id" name="id" type="search" value="" class="form-control" placeholder="DOI">
	</fieldset>

	<fieldset class="form-group col-md-12">
		<button type="submit" class="btn btn-primary btn-block">Search</button>
	</fieldset>
</form>

<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/badge.js"></script>
<script type="text/javascript" src="js/search.js"></script>